


<div class="jumbotron jumbotron-fluid text-right mb-0">
<br/><br/>
      <h1 class="font-weight-normal text-white text-left ml-5 ">GOSSIP</h1>
      <h1 class="font-weight-normal text-white text-left ml-5">PROJECT</h1>
      <h1 class="font-weight-normal text-white text-left ml-5"><%=@name%></h1>
      
      <h4 class="font-weight-normal text-left ml-5">Decouvrez les derniers potins tendances ...</h4>
     
      <div class="container">
        <div class="row justify-content-center">
          <div class="decouvrir">
          <div class="row-6">
          
            <a class="btn btn-warning text-dark btn-md-6 ml-2" href="/gossips" role="button"
              >Decouvrir</a>
              <a class="btn btn-warning text-dark btn-md-6 ml-3" href="/gossips/new" role="button"
              >Poste ton gossip</a>
              
          </div>
          </div>
        </div>
      </div>
    </div>
